.table {
  margin-bottom: 0px;
}

.invoice-title h2, .invoice-title h3 {
  display: inline-block;
}

.table > tbody > tr > .no-line {
  border-top: none;
}

.table > thead > tr > .no-line {
  border-bottom: none;
}

.table > tbody > tr > .thick-line {
  border-top: 2px solid;
}

/* Customize container */
@media (min-width: 768px) {
  section .container {
    max-width: 730px;
    background:#ffffff;
  }
}

section .container-narrow > hr {
  margin: 30px 0;
  background:#ffffff;
}

.main {
  background:#f1f1f1;
}

/* Supporting marketing content */
.marketing {
  margin: 20px 0 0 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.panel-title {
  display: inline;
  font-weight: bold;
}

.checkbox.pull-right {
  margin: 0;
}

.pl-ziro {
  padding-left: 0px;
}

.panel {
  border: 0px solid transparent;
  background: #f1f1f1;
}

.panel-default>.panel-heading .badge {
  color: #ffffff;
  background-color: transparent;
}

section .container {
  background: #ffffff;
  border-radius:10px;
  margin-top:20px;
  margin-bottom:20px;
}

.panel-heading {
  border-bottom: 0px solid #555555 !important;
}

.panel-default>.panel-heading {
  color: #333333;
  background-color: #cccccc;
  padding-bottom: 1px !important;
  border-top-left-radius: 4.5px;
  border-top-right-radius: 4.5px;
  padding-top: 10px;
  font-weight: 700;
}